body {
   background-color: #94f9fd;
   margin:0;
 }


canvas {
    border: solid black 2px;
    margin: 20px;
    
}

#wrapperDiv{
  border: solid black 0px;
  width:1510px;
  height:710px;
  float:left;
  margin-left:150px;
  margin-top: 30px;
}

#coin-count {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: gold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
