body {
   background-color: #eafd94;
   margin:0;
 }


canvas {
    border: solid black 2px;
    margin: 20px;
    
}

#wrapperDiv{
  border: solid black 0px;
  width:1510px;
  height:710px;
  float:left;
  margin-left:150px;
  margin-top: 30px;
}
